/* Common elements */

body {
    background: url(./assets/plants.jpeg) no-repeat fixed top center;
    margin: 0;
    padding: 0;
    background-size: 100% 100%;
}


/* Header */
header {
    margin: 20px 35px;
    padding: 5px 5px;
    background-color: rgb(9, 47, 9);
    border: solid 2px rgb(227, 237, 224);
    border-radius: 5px;
    height: 300px;
} 

header h1 {
    color: rgb(227, 237, 224);
    font-size: 7em; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    vertical-align: auto;
    text-shadow: 3px 3px rgb(143, 141, 141); 
}

/* Nav bars */

/* Header nave */
.socials li {
    display: inline;
}

.socials {
    text-align: center;
    background-color: rgba(47, 90, 62, 0.759);
    border: solid 2px rgb(227, 237, 224);
    border-radius: 5px;
    height: 58px;
    margin-top: -50px;
    margin-right: 200px;
    margin-left: 200px;
}

.socials li {
    display: inline;
}

.socialIcon {
    margin: 0 75px;
}

.socialIcon:hover {
    background-color: rgba(141, 183, 141, 0.367);
}

/* Main section nav */
.guide {
    background-color: rgb(227, 237, 224);
    border: solid 2px rgb(227, 237, 224);
    margin: 0;
    padding: 40px;
}

.guide ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.guide li {
    float: left;
    width: 410px;
    height: 25px;
    background-color:rgb(227, 237, 224);
    text-align: center;
    font-size: 20px;
    display: block;
}

.guide ul li a{
    text-decoration: none;
    color:rgb(9, 47, 9);
    display: block;
}

.guide ul li a:hover {
    color:rgb(141, 183, 141)
}

.guide ul li ul li {
    display: none;
}

.guide ul li:hover ul li {
    display: block;
}

/* Footer Nav */
.info li {
    display: inline;
}

.info li a {
    color: rgb(227, 237, 224);
    margin: 150px;
    text-decoration: none;
}

.info li a:hover {
    color: rgb(141, 183, 141);
}

 /* Main section */
section {
    margin: 20px 35px;
    padding: 0;
    background-color: rgb(9, 47, 9);
    border: solid 2px rgb(227, 237, 224);
    border-radius: 5px;
    height: 750px;
    color: rgba(227, 237, 224, 0.719);
    font-family:'Times New Roman', Times, serif;
}

p {
    padding: 2em;
    text-align: center;
    font-size: 1.25em;
}

/* Footer */
footer {
    margin: 20px 35px;
    padding: 5px 5px;
    background-color: rgb(9, 47, 9);
    border: solid 2px rgb(227, 237, 224);
    border-radius: 5px;
    height: 100px;
    color: rgb(227, 237, 224);
    text-decoration: none;
    text-align: center;
}

.info {
    color: rgb(227, 237, 224);
    text-decoration: none;
    border: solid 2px rgb(227, 237, 224);
    border-radius: 5px;
    background-color: rgba(47, 90, 62, 0.759);
    margin: 10px 300px;
}

